<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

        <form>
        <h1>
            <%= title %>
        </h1>
        <fieldset>
            <label>
                <%= message %>
            </label>
            <a href='/'>Home</a>
        </fieldset>
        </form>
    
</body>

</html>